    @media all{
        .my-header-grid.ui-grid-b .ui-block-a { width: 20%; }
        .my-header-grid.ui-grid-b .ui-block-b { width: 60%; }
        .my-header-grid.ui-grid-b .ui-block-c { width: 20%; }
        }
		.ui-grid-b  img {
			width: 100%;
			height: auto;
		} 


.ui-grid-a img{
	width: 100%;
	height: auto;
	border-bottom: 0px;

}